/* Changing the default font to Comfortaa and removing the default paddings and margins */
* { 
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling the carousel - adding height dimensions to size correctly */
.carousel { 
    height: 300px;
}